NEXT_PUBLIC_SITE_URL="https://groupvolkov.com"

NEXT_PUBLIC_COMPANY_LEGAL_NAME="VOLKOV LTDA"
NEXT_PUBLIC_COMPANY_PUBLIC_NAME="VOLKOV"
NEXT_PUBLIC_COMPANY_TAX_ID="67.827.419/0001-92"

NEXT_PUBLIC_COMPANY_PHONE="+5517992044283"
NEXT_PUBLIC_COMPANY_PHONE_DISPLAY="(17) 99204-4283"

NEXT_PUBLIC_COMPANY_ADDRESS_LINE_1="Rua Paulo Brancalião, 184"
NEXT_PUBLIC_COMPANY_DISTRICT="Conjunto Habitacional Helio Cazarini"
NEXT_PUBLIC_COMPANY_CITY="Olímpia"
NEXT_PUBLIC_COMPANY_STATE="São Paulo"
NEXT_PUBLIC_COMPANY_STATE_CODE="SP"
NEXT_PUBLIC_COMPANY_POSTAL_CODE="15400-726"
NEXT_PUBLIC_COMPANY_COUNTRY="Brazil"
NEXT_PUBLIC_COMPANY_COUNTRY_CODE="BR"

CONTACT_EMAIL="contact@groupvolkov.com"

SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM="VOLKOV <contact@groupvolkov.com>"

CONTACT_RATE_LIMIT_MAX="5"
CONTACT_RATE_LIMIT_WINDOW_SECONDS="900"

NEWSLETTER_ENABLED="false"
ANALYTICS_ENABLED="false"
